<!-- <div fxLayout fxLayoutGap="15px" fxLayoutAlign="end" class="actions-icons">
    <button fxFlex="150px"  mat-flat-button color="accent" class="white" (click)="addIcon()" > {{ 'admin.icon.add_icons' | translate }} </button>
</div> -->

<div class="search-icons" fxLayout="row wrap">
    <h2 class="one-group-icon-title" fxFlex="calc(100% - 170px)" >  {{ 'admin.icon.search_icons' | translate }} </h2>
    <button fxFlex="150px" style="margin-bottom: 10px;" mat-flat-button color="accent" class="white" (click)="addIcon()" > {{ 'admin.icon.add_icons' | translate }} </button>
    <form fxFlex="100%" [formGroup]="searchIconForm" >
        <mat-form-field appearance="outline" style="width: 100%;" *ngIf="searchIconForm.get('search_word')" >
            <i class="fa fa-search black " aria-hidden="true" matPrefix ></i>
            <input matInput formControlName="search_word" [matAutocomplete]="autoCompleteIcon">
            <i class="fa fa-times-circle pointer" matSuffix (click)="searchIconForm.get('search_word').setValue(null)" *ngIf="searchIconForm.get('search_word').value" ></i>
            <mat-autocomplete autoActiveFirstOption #autoCompleteIcon="matAutocomplete" [displayWith]="displaySelectedIcon">
                <mat-option *ngFor="let icon of searchResultIcon | async" [value]="icon">
                    <mat-list>
                        <mat-list-item> 
                            <img [src]="url_prefix+icon.path" mat-list-icon style="height: 32px;width: 32px;border-radius: 0px;">
                            <div mat-line>{{icon.name}}, {{icon.category}}</div>
                        </mat-list-item>
                       </mat-list>
                </mat-option>
              </mat-autocomplete>

        </mat-form-field>
    </form>
    
</div>

<div class="text-center loading-icons">
    <mat-spinner color="primary" diameter="150" *ngIf="IconService.iconList.getValue() == undefined" ></mat-spinner>
</div>

<div class="all-group-icon">
        <div class="one-group-icon" *ngFor="let group of IconService.getCategoryIcons()" > 
            <h2 class="one-group-icon-title" > {{group}} </h2>
            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center">
                <div fxFlex="108px" class="one-icon" *ngFor="let icon of IconService.getAllIconsFromCategory(group)" [matTooltip]="icon.name" >
                    <i class="fa fa-trash red"></i>
                    <img src="{{url_prefix+icon.path}}" alt="" srcset="">
                </div>
            </div>
        </div>
</div>