@import '../../../../../theme.scss';

.vector-provider-action{
    margin: 15px 0px;
    padding-left: 24px;
}
.mat-column-state {
    width: 200px;
}

td.mat-column-detail{
    transition: background .25s;
    border-left: 1px solid #e7ebed;
}

td.mat-column-detail:hover{
    background: $accent_color;
    svg{
        path{
            fill: white;
        }
    }
}

.mat-column-detail {
    width: 47px;
    padding-right: 7px;
    text-align: center;
    padding-top: 5px;
    svg{
        height: 25px;
        width: 25px;
        path{
            transition: fill .25s;
            fill: $accent_color;
        }
    }
}
table{
    width: 100%;

    th{
        font-weight: bold;
        color: black;
        font-size: 14px;
      }
      tr{
          height: 54px !important;
      }

    
}