<div class="card-querry">
    <pre *ngIf="!activeForm">
        <ul style="margin-top: -60px;" >
            <li>{{ 'admin.sig_file.file' | translate }} : {{(sigFile$ | async)?.file}}</li>
            <li>{{ 'metadata.creation_date' | translate }} {{(sigFile$ | async)?.updated_at | date: "d-M-yy H:mm"}}</li>
        </ul>
    </pre>
    <form [formGroup]="form" *ngIf="activeForm">
        <mat-spinner style=" position: absolute;left: 50%;" *ngIf="form.get('file').disabled"></mat-spinner>
        <app-file-upload *ngIf="form.get('file')" formControlName="file" [multiple]="false"></app-file-upload>
    </form>
</div>

<div class="card-querry-footer" fxLayout>
    <button mat-flat-button fxFlex="100%" class="active-edit-btn" [fxHide]="activeForm" (click)="activeForm=true">
        <span> {{ 'admin.sig_file.edit_file' | translate }} </span>

        <svg height="25" width="25" viewBox="0 0 50 49.543">
            <path
                d="M47.815 6.6l-4.47-4.42L41.208.044 39.073 2.18 2.893 38l-.66.66-.2.916-1.118 5.538-.916 4.5 4.47-.864 5.59-1.067.91-.152.66-.66L47.812 11l2.184-2.185L47.81 6.63zm-40.7 31.555L35.67 9.852l4.472 4.472-28.557 28.303-4.47-4.472zm-3.202 7.57L5.03 40.34l4.32 4.32-5.437 1.066zM42.277 12.14l-4.472-4.472 3.405-3.354 4.47 4.42-3.403 3.405z">
            </path>
        </svg>
    </button>

    <button mat-flat-button fxFlex [fxHide]="!activeForm" class="active-cancel-btn" (click)="activeForm=false">
        <span> {{ 'cancel'| translate }} </span>
        <svg height="25" width="25" viewBox="0 0 50 50">
            <path
                d="M47.475 49.952L50 47.427 27.475 24.953 50 2.478 47.475-.047 25 22.478 2.525-.047 0 2.478l22.525 22.475L0 47.427l2.525 2.525L25 27.427">
            </path>
        </svg>
    </button>

    <button mat-flat-button fxFlex [disabled]="!form.valid" class="active-save-btn" [fxHide]="!activeForm" *ngIf="!(sigFile$ | async)"
        (click)="onAddInstance()">
        <span > {{ 'admin.sig_file.add' | translate }} </span>
        <svg height="25" width="25" viewBox="0 0 50 37.072">
            <path d="M50 2.46L47.485-.058 15.443 31.986 2.515 19.058 0 21.573l15.443 15.443"></path>
        </svg> </button>

    <button mat-flat-button fxFlex [disabled]="!form.valid"  class="active-save-btn" [fxHide]="!activeForm" *ngIf="(sigFile$ | async)"
        (click)="onUpdateInstance()">
        <span > {{ 'admin.sig_file.update' | translate }} </span>
        <svg height="25" width="25" viewBox="0 0 50 37.072">
            <path d="M50 2.46L47.485-.058 15.443 31.986 2.515 19.058 0 21.573l15.443 15.443"></path>
        </svg> </button>

</div>