<div fxLayout fxLayoutAlign="end" style="margin-bottom: 24px;" >
    <button fxFlex="200px" mat-flat-button color="accent" class="white" (click)="onAddInstance(provider_vector_id)" > {{ 'list-style.add_style' | translate }} </button>
</div>

<div fxLayout="row wrap" *ngFor="let style of listStyles | async" class="style-item pointer">
    <div fxFlex="calc(100% - 330px)" fxLayoutGap="15px" fxLayout class="style-item-title"   >
        <span class="title" >{{style.name}} </span>
        <img fxFlex="75px" [src]="environment.backend+style.pictogram" alt="">
        <span class="state-badje" *ngIf="style.custom_style" > {{style.custom_style.name}}  </span>
        <span class="state-badje" *ngIf="!style.custom_style" > Qml File </span>
    </div>
    <a fxFlex="110px" fxLayout="column" class="style-item-rigth style-item-download" [href]="environment.backend+style.qml_file" target="_blank" > 
        <svg fxFlex="auto" height="20" width="20" viewBox="0 0 49.799 50" ><path d="M23.034 0v28.226L12.25 17.44l-2.522 2.47L24.9 35.13l15.17-15.17-2.47-2.47-11.038 10.988V0h-3.528zM0 27.168V50h49.8V27.168h-3.53v19.304H3.53V27.168H0z"></path></svg>
        <span fxFlex >QML</span>
    </a>

    <div fxFlex="110px" fxLayout="column" class="style-item-rigth style-item-delete" (click)="onDeleteInstance(style)" > 
        <svg fxFlex="auto" height="20" width="20" viewBox="0 0 49.501 50" class="" ><path  d="M17.865 0v5.938H0V9.43h4.543L8.393 50h32.77l3.8-40.57h4.54V5.94H31.635V0zm3.493 3.493h6.786v2.445h-6.786zM8.052 9.43h33.4L37.98 46.508H11.57zm9.71 7.632l-3.487.208 1.497 25.1 3.487-.208zm14.477 0l-1.5 25.1 3.487.207 1.496-25.1zm-8.988.104v25.1h3.493v-25.1z"></path></svg>
        <span fxFlex >Supprimer</span>
    </div>

    <div fxFlex="110px" fxLayout="column" class="style-item-rigth style-item-update" (click)="onUpdateInstance(style)" > 
        <svg fxFlex="auto" height="20" width="20" viewBox="0 0 50 49.543" ><path d="M47.815 6.6l-4.47-4.42L41.208.044 39.073 2.18 2.893 38l-.66.66-.2.916-1.118 5.538-.916 4.5 4.47-.864 5.59-1.067.91-.152.66-.66L47.812 11l2.184-2.185L47.81 6.63zm-40.7 31.555L35.67 9.852l4.472 4.472-28.557 28.303-4.47-4.472zm-3.202 7.57L5.03 40.34l4.32 4.32-5.437 1.066zM42.277 12.14l-4.472-4.472 3.405-3.354 4.47 4.42-3.403 3.405z"></path></svg>
        <span fxFlex >Mettre à jour</span>
    </div>
  
    <mat-divider fxFlex="100%" ></mat-divider>
</div>
