<div class="app-header primaryColorBG text-center">
  <img src="assets/icones/data-osm.png" style="width: 225px;height: 48px;left: 4px;top: 6px;position: absolute;">
  <app-search></app-search>
  <app-select-roi></app-select-roi>
  <button mat-icon-button style="position: absolute;
  top: 10px;
  right: 10px;"
    matTooltip="{{ 'header.toolpit_info' | translate }}" (click)="openModalInfo()" >
    <svg x="0px" y="0px" viewBox="0 0 28.1 28.1" style="height: 22px;">

      <path id="help-circle" class="whiteFill" d="M18.4,13l-1.3,1.3c-1.2,1-1.8,2.5-1.6,4h-2.8v-0.7c0-1.5,0.6-2.9,1.6-4l1.7-1.8
c0.5-0.5,0.8-1.2,0.8-2c0-1.6-1.3-2.8-2.9-2.8c-1.5,0-2.7,1.2-2.8,2.8H8.4c0-3.1,2.5-5.6,5.6-5.6s5.6,2.5,5.6,5.6
C19.7,11,19.2,12.2,18.4,13 M15.5,23.9h-2.8v-2.8h2.8 M14.1,0C6.3,0,0,6.3,0,14.1c0,7.8,6.3,14.1,14.1,14.1s14.1-6.3,14.1-14.1
c0,0,0,0,0,0C28.1,6.3,21.8,0,14.1,0z" />
    </svg>
  </button>
</div>
