<div class="login-content">

    <div class="login-form-wrapper">
        <h1>
            Connecter vous
        </h1>
        <div class="form-body">
            <form name="auth-form" >

                <mat-form-field appearance="outline" style="width: 100%;" >
                    <mat-label>Email ou nom d'utilisateur</mat-label>
                    <input matInput >
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" >
                </mat-form-field>

                <button mat-flat-button color="primary" class=" white " style="width: 100%;">Se connecter</button>

            </form>
        </div>
    </div>

</div>