


app-list-group-thematique {
  padding: 5px;
  padding-top: 20px;
  display: block;
  overflow-y: auto;
  height: calc(100% - 80px);
}
app-list-group-carte {
  overflow-y: auto;
  height: calc(100% - 60px);
  display: block;
}
