<notifier-container></notifier-container>

<mat-card class="card-layer">

  <mat-card-header>
    <img mat-card-avatar [src]="  environment.backend + layer.square_icon " alt="{{layer_name}}">
    <mat-card-title>{{layer_name}}</mat-card-title>
    <mat-card-subtitle > 
      <span *ngIf="layer.providers.length == 1 "> {{layer.providers[0].vp.count}} {{ 'dowloadLayers.entities' | translate }} ;  </span>
      <span> {{ 'dowloadLayers.updated_at'  |translate}} {{layer.providers[0].vp.updated_at | date:'medium'}} </span>
    </mat-card-subtitle>
    
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let provider of layer.providers" class="card-provider" style="margin: 10px 0px;">
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="layer.providers.length > 1"> {{provider.vp.name}} ({{provider.vp.count}}) </span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="layer.providers.length > 1">
          <span> {{ 'dowloadLayers.updated_at'  |translate}} {{provider.vp.updated_at | date:'medium'}} </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions style="text-align: right;">
        <button mat-flat-button style="margin-right: 10px;background: #0d47a1;" class="white" [matMenuTriggerFor]="menuCopy"
          [disabled]="provider.vp.count==0">
          <mat-icon style="width: 20px;font-size: 20px;height: 20px;" >content_copy</mat-icon>
          {{ 'dowloadLayers.copy_link' | translate }}
          <i class="fa fa-chevron-down white" aria-hidden="true"></i>
        </button>
        <mat-menu #menuCopy="matMenu">
          <a mat-menu-item
            [cdkCopyToClipboard]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=shp'"
            target="_blanck">
            ShapeFile
            
          </a>
          <a mat-menu-item
            [cdkCopyToClipboard]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=geojson'"
            target="_blanck">
            GeoJSON
          </a>
          <a mat-menu-item
            [cdkCopyToClipboard]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=gpkg'"
            target="_blanck">
            Géopckage
          </a>
          <a mat-menu-item
            [cdkCopyToClipboard]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=kml'"
            target="_blanck">
            KML
          </a>
          <a mat-menu-item
            [cdkCopyToClipboard]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=csv'"
            target="_blanck">
            CSV
          </a>
         
        </mat-menu>

        <button mat-flat-button color="accent" class="white" [matMenuTriggerFor]="menu"
          [disabled]="provider.vp.count==0">
          <mat-icon style="width: 20px;font-size: 20px;height: 20px;" >file_download</mat-icon>
          {{ 'dowloadLayers.download' | translate }}
          <i class="fa fa-chevron-down white" aria-hidden="true"></i>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item
            [href]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=shp'"
            target="_blanck">
            ShapeFile
          </a>
          <a mat-menu-item
            [href]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=geojson'"
            target="_blanck">
            GeoJSON
          </a>
          <a mat-menu-item
            [href]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=gpkg'"
            target="_blanck">
            Géopckage
          </a>
          <a mat-menu-item
            [href]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=kml'"
            target="_blanck">
            KML
          </a>
          <a mat-menu-item
            [href]="environment.backend+'/api/group/download/?provider_vector_id='+provider_vector_id+'&table_id='+table_id+'&provider_style_id_target='+provider.vs_id+'&provider_vector_id_target='+provider.vp.provider_vector_id+'&driver=csv'"
            target="_blanck">
            CSV
          </a>
          <a mat-menu-item [href]="environment.backend+provider.vs.qml_file" target="_blanck"> {{
            'metadata.download_style' | translate }} </a>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

</mat-card>