<!-- <div class="loading-apps">
    <div style="position: absolute; top: calc(50% - 50px); left: 45%">
      <div class="lds-ripple" style="width: 100px; height: 100px">
        <div></div>
        <div></div>
      </div>
  
      <div style="margin-left: -90px; margin-top: -35px" class="primaryColor">
        {{ "loading.loading_catalog" | translate }}
      </div>
    </div>
</div> -->


<mat-sidenav-container class="sidenav-container" #sidenavContainer [autosize]="true" [hasBackdrop]="false">

  <mat-sidenav-content class="sidenav-content">
    <app-header [instance]="instance" [map]="map"></app-header>
    <!-- (contextmenu)="
          ContextMenuComp ? ContextMenuComp.setRightClickPixel($event) : undefined
        " [shAttachMenu]="ContextMenuComp ? ContextMenuComp.menu : undefined"
      [shMenuData]="ContextMenuComp ? ContextMenuComp.listItems : []" -->
    <div id="map" #mapDiv>
      <div id="giro3d-inspector"></div>
      <div id="scale-map"></div>
      <div id="mouse-position-map"></div>

      <mat-icon (click)="setMapOrientationToNord()" class="compass pointer"> navigation </mat-icon>

    </div>


    <div style="display: none;" id="container"></div>

    <!-- <app-vertical-toolbar [map]="map" [sidenavContainer]="sidenavContainer" class="sidenav-content-toolbar whiteBG">
    </app-vertical-toolbar> -->
    <div class="toggle-group-dialog pointer" [ngClass]="{
      customBlackBG: isGroupDialogOpen(),
      primaryColorBG: !isGroupDialogOpen()
    }" (click)="toggleGroupDialog()">
      <mat-icon class="white" *ngIf="!isGroupDialogOpen()">home</mat-icon>
      <mat-icon class="white" *ngIf="isGroupDialogOpen()">close</mat-icon>
    </div>

    <div #sidenav_right class="sidenav-right sidenav-right-{{getRightMenuActive()?.name}}">
      <div class="toogle-sidenav-right">
        <ng-container *ngFor="let rightMenu of rightMenus">
          <button id="sidenav_right_icon"
            class="toogle-sidenav-right-button toogle-sidenav-right-button-{{rightMenu.name}}" *ngIf="rightMenu.enable"
            (click)="openRightMenu(rightMenu.name)" [matTooltip]="
              'right_menu.button.' + [rightMenu.tooltip] | translate
            " mat-raised-button style="width: 100%;" [ngClass]="{
              primaryColorBG: !rightMenu.active,
              whiteBG: rightMenu.active
            }">
            <mat-icon *ngIf="rightMenu.name == 'toc'" [ngClass]="{
            white: !rightMenu.active,
            primaryColor: rightMenu.active
          }">layers</mat-icon>


            <svg x="0px" y="0px" viewBox="0 0 20.8 20.8" style="width: 21px" *ngIf="rightMenu.name == 'edition'">
              <path [ngClass]="{
                  primaryColorFill: rightMenu.active
                }" d="M0,16.5v4.3h4.3L17.1,8l-4.3-4.3L0,16.5z M20.5,4.7c0.4-0.4,0.5-1.2,0-1.6c0,0,0,0,0,0
  l-2.7-2.7c-0.4-0.4-1.2-0.5-1.6,0c0,0,0,0,0,0L14,2.5l4.3,4.3L20.5,4.7L20.5,4.7z" fill="#fff" />
            </svg>

            <svg style="width: 22px" x="0px" y="0px" viewBox="0 0 23.1 23.4" *ngIf="rightMenu.name == 'routing'">
              <path [ngClass]="{
                  primaryColorFill: rightMenu.active
                }" fill="#fff" d="M3.9,15.6c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9s3.9-1.7,3.9-3.9c0,0,0,0,0,0
  C7.8,17.3,6,15.6,3.9,15.6z M3.9,21.1c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6c0,0,0,0,0,0
  C5.5,20.4,4.8,21.1,3.9,21.1L3.9,21.1z M19.2,0.4c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9c2.2,0,3.9-1.7,3.9-3.9
  C23.1,2.2,21.4,0.4,19.2,0.4L19.2,0.4z M19.2,6c-0.9,0-1.6-0.7-1.6-1.6s0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6
  C20.9,5.2,20.1,6,19.2,6L19.2,6z M20.6,11.5l0,6.8c-0.1,2.8-2.5,4.9-5.3,4.8c-2.6-0.1-4.6-2.2-4.8-4.8V4.8C10.4,3.2,9,2.1,7.5,2.3
  C6.2,2.5,5.1,3.5,5,4.8l0,9.6l-2.3,0l0-9.6C2.9,2,5.2-0.1,8,0c2.6,0.1,4.7,2.2,4.8,4.8v13.6c0.2,1.5,1.6,2.6,3.1,2.5
  c1.3-0.1,2.3-1.2,2.5-2.5l0-6.8L20.6,11.5z" />
            </svg>

            <i class="fas fa-th-list fa-lg" *ngIf="rightMenu.name == 'legend'" [ngClass]="{
                white: !rightMenu.active,
                primaryColor: rightMenu.active
              }"></i>

            <mat-icon *ngIf="rightMenu.name == 'download'" [ngClass]="{
              white: !rightMenu.active,
              primaryColor: rightMenu.active
            }">file_download</mat-icon>

          </button>
        </ng-container>
      </div>

      <div class="sidenav-right-title" *ngIf="getRightMenuActive()">
        {{ "right_menu." + getRightMenuActive().title + ".title" | translate }}
        <!-- <span [hidden]="!getRightMenu('toc').active">
          ({{ layersInToc.length }})
        </span> -->
      </div>
      <div class="sidenav-right-content">
        <app-table-of-contents [map]="map" [hidden]="!getRightMenu('toc').active"></app-table-of-contents>
        <app-legend [map]="map" [hidden]="!getRightMenu('legend').active"></app-legend>
        <app-download [map]="map" [hidden]="!getRightMenu('download').active"></app-download>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<app-context-menu></app-context-menu>