<!-- <h1 mat-dialog-title>
    <span class="bold primaryColor " style="font-size: 17px;"> {{(layer|async)?.name}}
    </span>
    <i (click)="close()" class="fa fa-times primaryColor pointer close"></i>
</h1>

<mat-dialog-content> -->
 
    <mat-tab-group>
        <mat-tab label="Provider"> 
            <app-provider [layer]="(layer|async)" ></app-provider>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
    </mat-tab-group>

<!-- </mat-dialog-content>

<mat-dialog-actions>
  
</mat-dialog-actions> -->