<div style="padding: 24px;" fxLayout="row wrap">
    <h2  fxFlex="calc(100% - 240px)" >  {{ 'admin.user.list_user' | translate }} </h2>
    <button fxFlex="200px" style="margin-bottom: 10px;" mat-flat-button color="accent" class="white" (click)="onAddInstance()"  >  {{ 'admin.user.add_user' | translate }} </button>
</div>

<div>
    <ng-container *ngIf="listUsers$ | async as listUsers">

    <table mat-table [dataSource]="listUsers" >

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>

</div>