<div class="search-vp" fxLayout="row wrap">
    <h2  fxFlex="calc(100% - 240px)" >  {{ 'admin.vector_provider.search_vector_provider' | translate }} </h2>
    <button fxFlex="200px" style="margin-bottom: 10px;" mat-flat-button color="accent" class="white" (click)="openModalToAddVectorProvider()" > {{ 'admin.vector_provider.add_vector_provider' | translate }} </button>
    <form fxFlex="100%"  [formGroup]="searchtVectorProviderForm">
        <mat-form-field appearance="outline" style="width: 100%;" *ngIf="searchtVectorProviderForm.get('search_word')">
            <i class="fa fa-search black " aria-hidden="true" matPrefix ></i>
            <input matInput  formControlName="search_word" [matAutocomplete]="autoComplete">
            <i class="fa fa-times-circle pointer" matSuffix (click)="searchtVectorProviderForm.get('search_word').setValue(null)" *ngIf="searchtVectorProviderForm.get('search_word').value" ></i>
            <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete" [displayWith]="displaySelectedIcon">
                <mat-option *ngFor="let vectorProvider of searchResultVectorProvider | async" [value]="vectorProvider">
                    <mat-list>
                        <mat-list-item> 
                            <div mat-line>{{vectorProvider.name}}</div>
                        </mat-list-item>
                       </mat-list>
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div class="text-center loading-vp">
    <mat-spinner color="primary" diameter="150" *ngIf="VectorProviderService.vectorProviderList.getValue() == undefined" ></mat-spinner>
</div>


<div class="list-vp">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'admin.vector_provider.table.header.name' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> {{ 'admin.vector_provider.table.header.state' | translate }} </th>
        <td mat-cell *matCellDef="let element">
            <span class="state-badje state-badje-{{element.state}}">
                {{ 'admin.vector_provider.table.header.state_type.' + element.state | translate }} 
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" class="pointer"> 
            <svg height="50" width="49.401"  viewBox="0 0 49.401 50" aria-hidden="true" focusable="false"><path d="M0 23.3h42.814L21.956 2.442 24.4-.003l25 24.95-25 25.05-2.494-2.495 20.71-20.71H0z"></path></svg>
        </td>
      </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
</div>

