<div class="search-vp" fxLayout="row wrap">
    <h2  fxFlex="calc(100% - 240px)" >  {{ 'admin.vector_provider.search_vector_provider' | translate }} </h2>
    <button fxFlex="200px" style="margin-bottom: 10px;" mat-flat-button color="accent" class="white" (click)="openModalToAddVectorProvider()" > {{ 'admin.vector_provider.add_vector_provider' | translate }} </button>
    <form fxFlex="100%"  [formGroup]="searchtVectorProviderForm">
        <mat-form-field appearance="outline" style="width: 100%;" *ngIf="searchtVectorProviderForm.get('search_word')">
            <i class="fa fa-search black " aria-hidden="true" matPrefix ></i>
            <input matInput  formControlName="search_word" [matAutocomplete]="autoComplete">
            <i class="fa fa-times-circle pointer" matSuffix (click)="searchtVectorProviderForm.get('search_word').setValue(null)" *ngIf="searchtVectorProviderForm.get('search_word').value" ></i>
            <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete" [displayWith]="displaySelectedVectorProvider">
                <mat-option *ngFor="let vectorProvider of searchResultVectorProvider | async" [value]="vectorProvider" [routerLink]="['/admin/vector-provider',vectorProvider.provider_vector_id]">
                    <mat-list>
                        <mat-list-item> 
                            <div mat-line>{{vectorProvider.name}}</div>
                        </mat-list-item>
                       </mat-list>
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div class="text-center loading-vp">
    <mat-spinner color="primary" diameter="150" *ngIf="loading" ></mat-spinner>
</div>


<div class="list-vp">

    <app-table-vector-provider (deleteVectorProvider)="deleteVectorProvider($event)" [data]="data" ></app-table-vector-provider>
</div>


