@import '../../../../../../../theme.scss';

.style-item{
    background-color: #fff;
    color: #000;
    transition: background-color .5s, color .5s;
    height: 54px;
    
    .style-item-title{
        padding: 15px 10px;
    }
    .style-item-delete{
        background-color: #fff;
        text-align: center;
        padding-top: 14px;
        .style-item-delete-text{
            margin-right: 24px;
        }
        svg{
            vertical-align: middle;
            path{
                fill: red;
            }
        }
    }

    .style-item-delete:hover{
        background-color: red;
        .style-item-delete-text{
            color: white;
        }
        svg{
            vertical-align: middle;
            path{
                fill: white;
            }
        }
    }
}

.style-item-title:hover{
    background-color: $accent_color;
    color: #fff;
}
