<h1 mat-dialog-title>

    <i class="fa fa-plus primaryColorBorder icon_header"> </i>

    <span class="bold primaryColor " style="font-size: 17px;">{{ 'add_style.title' | translate }}
    </span>

    <i (click)="close()" class="fa fa-times primaryColor pointer close"></i>
</h1>


<mat-dialog-content>

    <form [formGroup]="formAddStyle">

        <mat-form-field appearance="outline" *ngIf="formAddStyle.get('name')" style="width: 100%;">
            <mat-label> {{ 'add_style.name' | translate }} </mat-label>
            <input matInput formControlName="name">
            <mat-error> {{ 'add_icon.category_error' | translate }} </mat-error>
        </mat-form-field>

        <ng-container *ngIf="provider$|async as provider">
            <div class="select-type-style">
                <mat-button-toggle-group multiple="false" [value]="styleType|async"
                    (change)="styleTypeChanged($event.value)">
                    <mat-button-toggle [value]="'qml'"> QML</mat-button-toggle>
                    <mat-button-toggle *ngIf="provider.geometry_type === 'Point'" [value]="'cluster'">Cluster
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </ng-container>

        <app-qml [hidden]="(styleType|async) != 'qml'" [provider_vector_id]="provider_vector_id"
            [styleName]="formAddStyle.get('name')"></app-qml>
        <app-cluster [hidden]="(styleType|async) != 'cluster'" [provider_vector_id]="provider_vector_id"
            [styleName]="formAddStyle.get('name')"></app-cluster>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div fxLayout fxLayoutGap="15px" fxLayoutAlign="end">
        <mat-progress-bar fxFlex="100%" mode="indeterminate" *ngIf="formAddStyle.disabled"></mat-progress-bar>
        <button fxFlex="150px" mat-stroked-button color="primary" [disabled]="formAddStyle.disabled"
            (click)="close()">{{ 'cancel' | translate }}</button>
        <button fxFlex="150px" mat-flat-button color="accent" class="white" (click)="onAddInstance()"
            [disabled]="!formAddStyle.valid || formAddStyle.disabled"> {{ 'save' | translate }} </button>
    </div>
</mat-dialog-actions>