.details-vp-title{
    margin-bottom: 24px;
    span{
    vertical-align: top;
    margin-left: 10px;
    }
    .state-badje-geometry{
        color: #fff;
        background: #093f5f;
        border-color: #093f5f
    }
}
:host ::ng-deep mat-tab-header {
    background-color: #fff;
    .mat-tab-label .mat-tab-label-content{
        font-size: 15px;
    }
}

:host ::ng-deep .mat-tab-body{
    padding-top: 24px;
}