<div class="sidenav-left-admin">
    <div class="text-center accentColorBG " style="height: 50px;">
        <!-- <img src="assets/icones/data-osm.png" style="height: 48px;width: 225px;"> -->
    </div>
    <mat-selection-list class="tab" [multiple]="false">

        <mat-list-option class="white" routerLink="vector-provider"
            [selected]="(activePte|async)?.path === 'vector-provider'">
            <i class="fa fa-th-large" mat-list-icon></i>
            <div mat-line> {{ 'admin.lef_sidenav.vector_provider' | translate }} </div>
        </mat-list-option>

       

        <mat-expansion-panel hideToggle expanded mat-selection-list>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-list>
                        <mat-list-item class="white">
                            <i class="fa fa-globe" mat-list-icon> </i>
                            <div mat-line> {{ 'admin.lef_sidenav.maps' | translate }} </div>
                        </mat-list-item>
                    </mat-list>

                </mat-panel-title>
                <mat-panel-description>
                    <svg height="17" width="17" (click)="onAddInstance()" mat-list-icon viewBox="0 0 50 50"
                        aria-hidden="true" focusable="false">
                        <path
                            d="M50 26.72v-3.535l-23.283.05V.003h-3.535l.05 23.232L0 23.185v3.535h23.232l-.05 23.283h3.535V26.72">
                        </path>
                    </svg>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-selection-list class="list-map" [multiple]="false" color="accent" #MatSelectionList>
                <mat-list-option *ngFor="let map of maps|async" [value]="map.map_id" color="accent"
                    [selected]="(activePte|async)?.map_id == map.map_id && (activePte|async)?.path === 'map'">
                    {{map.name}}

                    <svg class="group-more" [matMenuTriggerFor]="menu" viewBox="0 0 8.701 50">
                        <path d="M0 0v8.7h8.7V0zm0 20.651v8.7h8.7v-8.7zm0 20.648v8.7h8.7v-8.7z"></path>
                    </svg>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onUpdateIntance(map)">{{ 'edit' | translate }} </button>
                        <button mat-menu-item (click)="onDeleteInstance(map)" class="red"> {{ 'supprimer' | translate
                            }}</button>
                    </mat-menu>

                </mat-list-option>
            </mat-selection-list>
        </mat-expansion-panel>


        <mat-list-option class="white" routerLink="base-maps"
        [selected]="(activePte|async)?.path === 'base-maps'">
        <svg mat-list-icon viewBox="0 0 477.874 477.874" style="height: 17px; width: 17px;"><g ><path  d="M460.812,0c-2.651-0.001-5.266,0.615-7.637,1.8L323.844,66.483L177.6,1.476c-0.239-0.102-0.512-0.12-0.768-0.222
            c-0.658-0.246-1.331-0.451-2.014-0.614c-0.679-0.183-1.369-0.326-2.065-0.427c-1.386-0.114-2.779-0.114-4.164,0
            c-0.696,0.101-1.386,0.244-2.065,0.427c-0.683,0.163-1.356,0.368-2.014,0.614c-0.256,0.102-0.529,0.119-0.768,0.222l-153.6,68.267
            C3.976,72.481,0.003,78.595,0.004,85.341v375.467c0.003,5.774,2.924,11.155,7.765,14.302c4.842,3.152,10.949,3.64,16.23,1.297
            l146.671-65.195l146.671,65.195c0.256,0.102,0.529,0,0.785,0.154c4.132,1.848,8.875,1.742,12.919-0.29
            c0.273-0.119,0.58,0,0.853-0.188l136.533-68.267c5.786-2.891,9.441-8.806,9.438-15.275V17.075
            C477.875,7.649,470.237,0.004,460.812,0z M153.604,381.448L34.137,434.542V96.435L153.604,43.34V381.448z M307.204,434.542
            l-119.467-53.094V43.34l119.467,53.094V434.542z M443.737,381.994l-102.4,51.2V95.888l102.4-51.2V381.994z" class="accentColorFill"></path></g></svg>
        <div mat-line> {{ 'admin.lef_sidenav.base-map' | translate }} </div>
        </mat-list-option>

        <mat-list-option class="white" routerLink="icon" [selected]="(activePte|async)?.path === 'icon'">
            <svg x="0px" y="0px" viewBox="0 0 32.218 32.218" mat-list-icon>
                <path class="whiteFill" d="M32.143,12.403c-0.494-1.545-3.213-1.898-6.092-2.279c-1.578-0.207-3.371-0.441-3.912-0.842
                    c-0.545-0.398-1.305-2.035-1.977-3.482c-1.222-2.631-2.379-5.113-3.997-5.117l-0.03-0.005c-1.604,0.027-2.773,2.479-4.016,5.082
                    c-0.685,1.439-1.464,3.07-2.007,3.465C9.563,9.616,7.77,9.836,6.187,10.028c-2.876,0.35-5.599,0.678-6.107,2.215
                    s1.479,3.426,3.585,5.422c1.156,1.098,2.465,2.342,2.671,2.982s-0.143,2.416-0.448,3.977c-0.558,2.844-1.085,5.537,0.219,6.5
                    c0.312,0.223,0.704,0.336,1.167,0.326c1.331-0.021,3.246-1.057,5.097-2.061c1.387-0.758,2.96-1.613,3.66-1.621
                    c0.677,0,2.255,0.879,3.647,1.654c1.893,1.051,3.852,2.139,5.185,2.117c0.416-0.006,0.771-0.113,1.061-0.322
                    c1.312-0.945,0.812-3.637,0.285-6.492c-0.29-1.564-0.615-3.344-0.41-3.984c0.212-0.637,1.536-1.865,2.703-2.955
                    C30.627,15.809,32.633,13.948,32.143,12.403z" />
            </svg>
            <div mat-line> {{ 'admin.lef_sidenav.icons' | translate }} </div>
        </mat-list-option>



    </mat-selection-list>

</div>            