@import '../../../theme.scss';

.sidenav-left-admin{
    mat-expansion-panel{
        background: transparent;
        box-shadow: none;

        mat-expansion-panel-header:hover{
            background: hsla(0,0%,100%,.05) !important;
        }
        mat-expansion-panel-header{
            background: hsla(0,0%,100%,.05);
            padding-left: 0px !important;
            padding-right: 0px !important;
            
            mat-panel-description{
                justify-content: space-between;
                align-items: center;

                svg{
                    fill: #00ada7a1;
                    transition: 0.5s;
                    position: absolute;
                    right: 15px;
                }

                svg:hover{
                    fill: white;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        ::ng-deep  .mat-expansion-panel-body{
            padding-right: 0px;
            padding-bottom: 0px;
        }
        
        mat-panel-title{
            color: white;
        }
        .list-map{
            padding-top:0px;
            border-left: 5px solid $accent_color;

           

            .mat-list-item{
                color: white;
                .group-more{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    fill: white;
                    display: none;
                    transition: 0.5s;
                }
                

                // svg{
                //     fill: #00ada7a1;
                //     transition: 0.5s;
                //     cursor: pointer;
                    
                // }
                // svg:hover{
                //     fill: white;
                //     width: 20px;
                //     height: 20px;
                // }
            }
        }
    }

    .tab,.list-map{
        padding-top:0px;
        mat-list-option{
            background: hsla(0,0%,100%,.05);
            cursor: pointer;
            transition: background .25s,color .25s;
        }
        mat-list-option:hover{
            background-color: $accent_color;
            opacity: 0.7 !important;
            svg{
                fill: white !important;
            }
            .group-more{
                display: block !important;
            }
        }
    }
    
}
.mat-list-single-selected-option{
    background: $accent_color !important;
}