@import '../../../theme.scss';

.sidenav-left-admin{
    mat-list-item{
        background: hsla(0,0%,100%,.05);
        cursor: pointer;
        transition: background .25s,color .25s;
    }
    mat-list-item:hover{
        background-color: $accent_color;
    }
}