<div class="sidenav-left-admin">
    <div class="text-center accentColorBG " style="height: 50px;">
        <!-- <img src="assets/icones/data-osm.png" style="height: 48px;width: 225px;"> -->
    </div>
    <mat-expansion-panel hideToggle expanded >
        <mat-expansion-panel-header>
            <mat-panel-title>
            <mat-list>
                <mat-list-item class="white" >
                    <i class="fa fa-globe" mat-list-icon> </i>
                    <div mat-line> {{ 'admin.lef_sidenav.maps' | translate }}  </div>
                </mat-list-item>
            </mat-list>
               
            </mat-panel-title>
            <mat-panel-description>
                <svg height="17" width="17" (click)="onAddInstance()" mat-list-icon viewBox="0 0 50 50" aria-hidden="true" focusable="false"><path d="M50 26.72v-3.535l-23.283.05V.003h-3.535l.05 23.232L0 23.185v3.535h23.232l-.05 23.283h3.535V26.72"></path></svg>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list class="list-map" [multiple]="false" color="accent" >
            <mat-list-option *ngFor="let map of maps|async" [value]="map.map_id" color="accent" [selected]="(activeMapId|async) == map.map_id" >
                {{map.name}}

            <svg class="group-more" [matMenuTriggerFor]="menu" viewBox="0 0 8.701 50" ><path d="M0 0v8.7h8.7V0zm0 20.651v8.7h8.7v-8.7zm0 20.648v8.7h8.7v-8.7z"></path></svg>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onUpdateIntance(map)" >{{ 'edit' | translate }} </button>
                <button mat-menu-item (click)="onDeleteInstance(map)" class="red" > {{ 'supprimer' | translate }}</button>
              </mat-menu>

            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>

    <mat-list class="tab" >
        <mat-list-item class="white" routerLink="icon">
            <i class="fa fa-globe" mat-list-icon> </i>
            <div mat-line> {{ 'admin.lef_sidenav.icons' | translate }} </div>
        </mat-list-item>
        <mat-list-item class="white" routerLink="vector-provider">
            <i class="fa fa-th-large" mat-list-icon></i>
            <div mat-line> {{ 'admin.lef_sidenav.vector_provider' | translate }} </div>
        </mat-list-item>
    </mat-list>

</div>