.sidenav-left-second-header{
    height: 55px;
    padding-top: 15px;
    .fa-angle-left{
      margin-top: -10px;
      font-size: 25px;
      padding: 12px;
  }
    .sidenav-left-second-header-img{
      height: 20px;
      margin-left: 10px;
      margin-right: 5px;
      max-width: 25px;
      min-width: 25px;
    }

    .sidenav-left-second-header-title{
      text-align: left;
    padding: 0px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    font-size: 14px;
    }
}



