.close{
  font-size: 18px;
  margin-right: 10px;
  margin-top: 6px;
  margin-left: 5px;
  float: right;
  color: #fff;
  cursor: pointer;
}
.icon_header{
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 20px;
  margin-right: 5px;
}
  ::ng-deep .mat-dialog-content{
      overflow: auto;
      max-height: calc(100% - 112px);
      height: calc(100% - 112px);
      padding: 24px;
  }

  ::ng-deep .mat-dialog-title{
      text-align: center;margin-left: -24px;
      margin-right: -24px;
      margin-top: -24px;
      margin-bottom: 0px;
      padding: 6px 0px;
  }

  ::ng-deep .mat-dialog-actions{
      margin: 0px -24px -24px;
      background:rgba(255, 255, 255, 0.8);
      padding-left: 10px;
  }

p,span,div{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-container span > * {
  width: 100%;
}
