@import "./theme.scss";

.close {
  font-size: 18px;
  margin-right: 10px;
  margin-top: 6px;
  margin-left: 5px;
  float: right;
  color: #fff;
  cursor: pointer;
}
.icon_header {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 20px;
  margin-right: 5px;
}

::ng-deep .mat-dialog-content {
  overflow: auto !important;
  max-height: calc(100% - 112px) !important;
  height: calc(100% - 112px) !important;
  padding: 24px !important;
  background-color: #001725 !important;
  color: #fff !important;
}
.without-actions {
  height: 100% !important;
  max-height: 100% !important;
}
::ng-deep .mat-dialog-title {
  text-align: center !important;
  line-height: 0px !important;
  margin: 0px !important;
  height: 50px;
  padding: 0px 10px;
  // background-color: $primary_transparent_bg !important;
  background-color: black !important;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;

  .dialog-title-start-icon {
    height: 25px;
    align-self: center;
    flex: 1 1 25px;
    box-sizing: border-box;
    max-width: 25px;
    min-width: 25px;
  }
  .dialog-title-text {
    align-self: center;
    flex: 1 1 0%;
    box-sizing: border-box;
  }
  .dialog-title-end-icon {
    align-self: center;
    height: 20px;
    align-self: center;
    flex: 1 1 20px;
    box-sizing: border-box;
    max-width: 20px;
    min-width: 20px;
    cursor: pointer;
  }
}

::ng-deep .mat-dialog-actions {
  justify-content: center;
  background: rgba(255, 255, 255, 0.8) !important;
  // padding: 8px 15px !important;
  // min-height: 40px !important;
  // display: block !important;
}

p,
span,
div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-container span > * {
  width: 100%;
}
