<!-- <h5 class="bold white primaryColorBG item">
    IFC
</h5>

<div fxLayout="column" fxLayoutGap="24px">

    <h3>
        Importer des maquettes IFC au centre de votre vue.
    </h3>


    <div fxLayout="column" fxLayoutGap="15px">
        <form [formGroup]="importIFCForm" fxFlex="100%">

            <app-file-upload formControlName="ifcFile" [multiple]="false" [accept]="'.ifc'">
            </app-file-upload>

        </form>
        <button fxFlex="100%" mat-flat-button color="accent" class="white" (click)="onUploadIFCInstance()"
            [disabled]="!importIFCForm.valid || importIFCForm.disabled">
            <div class="ifcLoading" *ngIf="ifcLoading">
                <div style="position:absolute;top:calc(50% - 15px);left:30%">
                    <div class="lds-ripple" style="width: 50px;
  height: 50px;">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            Importer
        </button>

    </div>
    <mat-list>
        <ng-container *ngFor="let ifc of ifcList">
            <mat-list-item style="background-color: aliceblue;">
                <div fxLayout fxLayoutGap="15px">
                    <span fxFlex>{{ifc.userData.name}}</span>
                    <i fxFlex fxFlexAlign="center" class="fa fa-crosshairs pointer" (click)="zoomToIfc(ifc)"></i>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>

    <div class="text-center">
        <button mat-stroked-button (click)="featuresStoreService.RemoveAllBuildingsToHide()">
            Afficher tous les bâtiments cachés
        </button>
    </div>


</div> -->

<h3 class="bold white primaryColorBG item">
    Nuages de points
</h3>
<div fxLayout="column" fxLayoutGap="24px">

    <h4>
        Importer des nuages de points pour les superposer avec les autres données.
        Il doit être en EPSG:3857.
    </h4>
    <div fxLayout="column" fxLayoutGap="15px">
        <form [formGroup]="importPointCloudForm" fxFlex="100%">

            <app-file-upload formControlName="pointCloudFile" [multiple]="false" [accept]="'.laz'">
            </app-file-upload>

        </form>
        <button style="padding: 8px;" fxFlex="100%" mat-flat-button color="primary" class="white"
            (click)="onUploadPointCloudInstance()"
            [disabled]="!importPointCloudForm.valid || importPointCloudForm.disabled"> Importer </button>

        <button style="padding: 8px;" [disabled]="pointCloudLoading"
            *ngIf="pointCloudList.length == 0 || importPointCloudForm.get('pointCloudFile').value" fxFlex="100%"
            mat-flat-button color="primary" class="white" (click)="onUseExamplePointCloudInstance()">
            Ou utiliser un nuage de point du LIDAR HD (IGN) sur Grenoble </button>

        <div class="ifcLoading" *ngIf="pointCloudLoading">
            <div style="position:absolute;top:calc(40% - 15px);left:30%">
                <div class="lds-ripple" style="width: 50px; height: 50px;">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>
    <ng-container *ngFor="let pointCloud of pointCloudList; trackBy:pointCloudTrackBy">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i (click)="removePointCloud(pointCloud)" style="margin-right: 5px;"
                            class="fa fa-times red pointer close"></i>
                        {{pointCloud.pointCloud.userData.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <i fxFlex fxFlexAlign=" center" class="fa fa-crosshairs pointer"
                            (click)="zoomToPointCloud(pointCloud.pointCloud)"></i>
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <mat-selection-list [multiple]="false"
                    (selectionChange)="changePointCloudSelectedAttribute($event,pointCloud)">
                    <mat-list-option *ngFor="let attribute of pointCloud.metadata.attributes" [value]="attribute"
                        [selected]="attribute.name == pointCloud.selectedAttribute.name"
                        [ngClass]=" {'accentColorBG': pointCloud.selectedAttribute?.name===attribute.name}">
                        {{attribute.name}}
                    </mat-list-option>
                </mat-selection-list>

            </mat-expansion-panel>

        </mat-accordion>

    </ng-container>

</div>

<br>
<br>
<i>
    Aucune données n'est envoyée ni stockée sur notre serveur;
    Tout est traité sur le navigateur --- dans votre navigateur.
</i>