<ng-container *ngIf="groupThematique.sous_thematiques">
  <mat-accordion multi="true" class="couche-thematique">
    <mat-expansion-panel
      class="couche-thematique-panel"
      *ngFor="let sous_thematique of groupThematique.sous_thematiques"
      expanded="true"
    >
      <mat-expansion-panel-header
        collapsedHeight="45px"
        expandedHeight="45px"
        style="padding: 0px 10px;border-bottom: 1px solid rgb(0 0 0 / 38%); border-radius: 0px;"
      >
        <mat-panel-title>
          <span class="black bold" style="font-size: 14px;" > {{ sous_thematique.nom }}  </span>

        </mat-panel-title>
        <mat-panel-description style="flex-direction: row-reverse;justify-content: space-between; align-items: center;margin-right: 0px;" >
          <mat-slide-toggle color="primary" labelPosition="before" > </mat-slide-toggle>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <div style="margin-top: 15px;">
        <mat-chip-list [selectable]="true" (change)="coucheSelected($event)">
          <!-- <mat-list-option> -->
          <app-couche-thematique
            *ngFor="let couche of sous_thematique.couches"
            id="{{ 'couche_' + couche.key_couche }}"
            [couche]="couche"
          ></app-couche-thematique>
          <!-- </mat-list-option> -->
        </mat-chip-list>

        <!-- <ng-container *ngFor="let couche of sous_thematique.couches">
          <app-couche-thematique
            id="{{ 'couche_' + couche.key_couche }}"
            fxFlex="50%"
            [couche]="couche"
          ></app-couche-thematique>
        </ng-container> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<ng-container *ngIf="!groupThematique.sous_thematiques">
  <div>
    <mat-selection-list (selectionChange)="coucheSelected($event)">
      <!-- <mat-list-option> -->
      <app-couche-thematique
        *ngFor="let couche of groupThematique.couches"
        id="{{ 'couche_' + couche.key_couche }}"
        [couche]="couche"
      ></app-couche-thematique>
      <!-- </mat-list-option> -->
    </mat-selection-list>
  </div>
</ng-container>

<!-- <mat-selection-list>
  <mat-list-option> shoe}} </mat-list-option>
</mat-selection-list> -->
