.couche-thematique{
  ::ng-deep .mat-expansion-panel-body{
    padding: 10px 5px 16px !important;
  }

  .couche-thematique-panel{
    margin-bottom:20px ;
  }
}
app-couche-thematique{
  padding-left: 15px;
  padding-right: 15px;
}
