<h1 mat-dialog-title class="primaryColorBG white">
  <i class="fa fa-download white icon_header" aria-hidden="true"></i>
  <i class="fa fa-times-circle close" (click)="closeModal()"></i>
  {{ 'dowloadLayers.title' | translate }}
</h1>

<div mat-dialog-content style="background: #eeeeee;">

  <mat-card *ngFor="let layer_name of objectKeys.keys(data)"  style="box-shadow: none;margin-top: 15px;">
  
  <mat-card-header>
    <img mat-card-avatar [src]="  environment.backend + data[layer_name][0].layer.square_icon " alt="{{layer_name}}">
    <mat-card-title>{{layer_name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let provider of data[layer_name]" style="margin-top: 15px;background: transparent;border: 2px solid #e0e0e0;">
      <mat-card-header>
        <mat-card-title style="font-size: 17px;"> {{provider.count}} {{provider.vector.name}}</mat-card-title>
      </mat-card-header>
  
      <mat-card-actions style="text-align: right;" >
        <mat-form-field appearance="outline"  style="width: 100%;">
          <!-- <mat-label>{{ 'dowloadLayers.download' | translate }}</mat-label> -->
          <mat-select>
            <mat-option value="option"><a [href]="environment.backend+'/api/group/download/?provider_vector_id='+parameter.admin_boundary_id+'&table_id='+parameter.table_id+'&provider_vector_id_target='+provider.vector.provider_vector_id+'&driver=shp'" target="_blanck"> ShapeFile </a> </mat-option>
            <mat-option value="option"><a [href]="environment.backend+'/api/group/download/?provider_vector_id='+parameter.admin_boundary_id+'&table_id='+parameter.table_id+'&provider_vector_id_target='+provider.vector.provider_vector_id+'&driver=geojson'" target="_blanck"> GeoJSON </a> </mat-option>
            <mat-option value="option"><a [href]="environment.backend+'/api/group/download/?provider_vector_id='+parameter.admin_boundary_id+'&table_id='+parameter.table_id+'&provider_vector_id_target='+provider.vector.provider_vector_id+'&driver=gpkg'" target="_blanck"> Géopckage </a> </mat-option>
            <mat-option value="option"><a [href]="environment.backend+'/api/group/download/?provider_vector_id='+parameter.admin_boundary_id+'&table_id='+parameter.table_id+'&provider_vector_id_target='+provider.vector.provider_vector_id+'&driver=kml'" target="_blanck"> KML </a> </mat-option>
          </mat-select>
        </mat-form-field>
        
        <!-- <button mat-flat-button class=" primaryColor " style="background: rgb(0 0 0 / 0.03);" >{{ 'dowloadLayers.download' | translate }}</button> -->
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

  </mat-card>


</div>

<div mat-dialog-actions>
  <img src="assets/icones/osm.svg" width="25px" alt="" style="    vertical-align: middle;">
  {{ 'geosm.text' | translate }} <a href="https://www.openstreetmap.org" target="_blank" rel="noopener noreferrer">
    {{ 'geosm.text1' | translate }}  OpenStreetMap </a>
</div> 
