.detail-map {
  width: 100%;
  height: 100%;

  .detail-map-sidenav-start {
    width: 80px;
    text-align: center;
    border: none;
    .add-group{
      height: 50px;
      width: 50px;
      margin-top: 10px;
    }
    .group{
      div{
        text-align: center;
      }
      img{
        width: 35px;
      }
      .group-name{
        color: #5e6367;
      }
      cursor: pointer;
      padding: 20px 5px;
    }
  }

  .detail-map-sidenav-content {
    background-color: #e7ebed;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

}
