<div class="border_red menu-thematiques-child text-center " [ngClass]="{'primaryColorBG': !groupThematique.color}" [ngStyle]="{'background-color': groupThematique.color}"  >

<!-- <div class="menu-thematiques-child-nombre back_red white">
  <p *ngIf="groupThematique.sous_thematiques"> {{groupThematique.sous_thematiques.length}} </p>
  <p *ngIf="!groupThematique.sous_thematiques"> {{groupThematique.couches.length}} </p>
</div> -->

<img src="{{url_prefix+groupThematique.img}}" class="img-responsive  menu-thematiques-child-logo">
</div>
<div class=" text-center menu-thematiques-child-title">
<p class="black">{{groupThematique.nom}}</p>
</div>
