<h1 mat-dialog-title>

        <svg x="0px" y="0px" viewBox="0 0 28.1 28.1" class="dialog-title-start-icon">

                <path id="help-circle" class="whiteFill" d="M18.4,13l-1.3,1.3c-1.2,1-1.8,2.5-1.6,4h-2.8v-0.7c0-1.5,0.6-2.9,1.6-4l1.7-1.8
c0.5-0.5,0.8-1.2,0.8-2c0-1.6-1.3-2.8-2.9-2.8c-1.5,0-2.7,1.2-2.8,2.8H8.4c0-3.1,2.5-5.6,5.6-5.6s5.6,2.5,5.6,5.6
C19.7,11,19.2,12.2,18.4,13 M15.5,23.9h-2.8v-2.8h2.8 M14.1,0C6.3,0,0,6.3,0,14.1c0,7.8,6.3,14.1,14.1,14.1s14.1-6.3,14.1-14.1
c0,0,0,0,0,0C28.1,6.3,21.8,0,14.1,0z" />
        </svg>


        <span class="bold dialog-title-text" style="font-size: 17px;" *ngIf="environment.nom_instance">
                {{ environment.nom_instance }}
        </span>


        <i (click)="onNoClick()" class="fa fa-times-circle dialog-title-end-icon"></i>
</h1>


<mat-dialog-content class="without-actions">



        <md-editor name="Content" [mode]="'preview'" [height]="'100%'" [(ngModel)]="parameterService.parameter.info"
                [options]="{enablePreviewContentClick:true, showBorder:false}">
        </md-editor>



</mat-dialog-content>