<div class="group-select-form">
  <mat-form-field appearance="fill" style="width: 100%;">

    <mat-select (opened)="trackGroupSelectTriggered()" [formControl]="groupSelectForm" disableOptionCentering
      panelClass="group-select-form-option-panel">
      <mat-select-trigger>
        <div fxLayout fxLayoutGap="15px" fxLayoutAlign="start center" class="group-select-form-select-trigger">
          <img style="height: 25px;" [src]="environment.backend + groupSelectForm.value.icon.path" srcset="">
          <span> {{groupSelectForm.value.name}} </span>
        </div>
      </mat-select-trigger>

      <mat-option *ngFor="let group of parameters.groups" [value]="group" class="group-select-form-option">
        <div fxLayout fxLayoutGap="15px" fxLayoutAlign="start center">
          <img style="height: 20px;" [src]="environment.backend + group.icon.path" srcset="">
          <span> {{group.name}} </span>
        </div>
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>

<div class="list-sub-group">
  <ng-container *ngIf="subGroupList$ |async as subGroupList">
    <mat-accordion multi="true" togglePosition="before" class="couche-thematique">
      <ng-container *ngFor="let subGroup of subGroupList">
        <mat-expansion-panel class="couche-thematique-panel" expanded="true" *ngIf="subGroup.layers.length > 0">
          <mat-expansion-panel-header class="couche-thematique-panel-header" collapsedHeight="45px"
            expandedHeight="45px">
            <mat-panel-title class="white">
              {{ subGroup.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="margin-top: 15px;">
            <mat-selection-list>
              <app-couche-thematique *ngFor="let layer of subGroup.layers" id="{{ 'couche_' + layer.layer_id }}"
                [layer]="layer" [map]="parameters.map"></app-couche-thematique>
            </mat-selection-list>

          </div>
        </mat-expansion-panel>
      </ng-container>

    </mat-accordion>
  </ng-container>
</div>