@import '../../../../../../modal-style.scss';

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}

.style-item{
    margin-bottom: 10px;border-radius: 5px;border:1px solid #0000001f;align-items: center;padding: 0px 10px;
}
.style-type{
    font-size: 12px;
    padding: 2px !important;
    line-height: normal;
}
label{
    font-weight: bold;
}