<form [formGroup]="formSearch">
    <mat-form-field appearance="fill" class="search-admin-boundary-form">
        <mat-label> Rechercher une limite administrative </mat-label>
        <input type="text" matInput formControlName="searchWord" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'450px'" [displayWith]="displayAutocompleFn"
            (optionSelected)="optionAutocomplteSelected($event)">
            <mat-option [value]="adminBoundary" *ngFor="let adminBoundary of resultSearchAdminBoundary$ | async ">
                {{adminBoundary.feature.name}} ({{adminBoundary.adminBoundary.name}}) </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>