@import '../../../modal-style.scss';
.descriptive-sheet-header-ghost{
  position: absolute;
  top: 0px;
    left: 0px;
    right: 40px;
    bottom: 0px;
    cursor: move;
}
.descriptive-sheet-header{
  position: relative;
  background-color: black !important;
}
.descriptive-sheet-content{
  padding-top: 5px;
  max-height: 250px !important;
  
}