@import '../../../../../theme.scss';

:host ::ng-deep  .mat-form-field-appearance-outline .mat-form-field-outline{
    background-color: #fff !important;
}

.card-querry {
  padding: 20px;
  background-color: #f3f5f6;

  pre {
    height: 8em;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: pre;
    border: 1px solid #c4c5cd;
    border-radius: 6px;
    color: #080e31;
    font-family: monospace;
    padding: 15px;
    margin: 0;
    font-size: 1em;
  }

  
}
.card-querry-footer{
    min-height: 54px;
    button{
        transition: background .25s;
        span{
            float: left;
            font-size: 18px;
        }
        svg{
            float: right;
            margin-top: 5px;
            path{
                transition: fill .25s;
            }
        }
    }

    button:hover{
        span{
            color: #fff;
        }
        svg{
           
            path{
                fill:#fff
            }
        }
    }

    .active-edit-btn{
        svg{
            path{
                fill:$accent_color
            }
        }
    }

    .active-edit-btn:hover{
        background-color: $accent_color;
    }

    .active-cancel-btn{
        svg{
            path{
                fill:#c00
            }
        }
    }

    .active-cancel-btn:hover{
        background-color: #c00;
    }

    .active-save-btn{
        svg{
            path{
                fill:$accent_color
            }
        }
    }

    .active-save-btn:hover{
        background-color: $accent_color;
    }


}
