<form [formGroup]="form" >
    <mat-form-field *ngIf="form.get('color')" style="width: 100%;">
        <mat-label> {{ 'admin.add_layer.color' | translate }} </mat-label>
        <input 
        class="input-style"
        [cpPositionOffset]="'50%'"
        [cpPosition]="'bottom-left'"
        [cpAlphaChannel]="'always'"
        [cpOutputFormat]="'rgba'"
        [cpPresetColors]="presetValues"
        [cpSaveClickOutside]="true"
        [(colorPicker)]="form.get('color').value" 
        (colorPickerChange)="onColorPickerSelect($event,'color')"
        matInput 
        [attr.style]="('background:' + form.get('color').value + ' !important') | safeStyle"
        formControlName="color" 
        />
       
        <mat-error> {{ 'add_vector_provider.name_error' | translate }} </mat-error>
    </mat-form-field>
</form>
<app-generate-icon class="generate-icon" [backgroundColor]="form.get('color')"  [circleSvgAsText]="form.get('svg_as_text')" ></app-generate-icon>
