/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/cdk/overlay-prebuilt.css";
@import './app/theme';
@import './style-ol.scss';
@include mat-core();

html, body { height: 100%;overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}
