<div class="app-header" fxLayout fxLayoutAlign="end center">
  <app-search [map]="map" [instance]="instance" fxFlex></app-search>
  <button mat-icon-button (click)="openModalInfo()" style="
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: white;
  margin-right: 10px;
  line-height: 0px;
  ">
    <mat-icon style="
    border-radius: 100%;
  font-size: 30px;
  /* margin-top: -8px; */
  margin-left: -3px;
  color: black;
  /* width: 53px; */
  /* height: 24px; */
  width: 30px;
    " color="primary">info</mat-icon>
  </button>
  <div class="header-button" fxFlex="50px" style="display: none;">
    <button mat-icon-button matTooltip="{{ 'header.toolpit_info' | translate }}" [matMenuTriggerFor]="info_menu" style="width: 20px;
    height: 20px;
    margin-right: 13px;
    margin-left: 0px;
    padding-right: 5px;
    background-color: white;
    border-radius: 100%;">
      <mat-icon style="border-radius: 100%;
      font-size: 30px;
      margin-top: -20px;
      margin-left: -4px;" color="primary">info</mat-icon>
    </button>
    <mat-menu #info_menu="matMenu">
      <button mat-menu-item>
        <app-select-roi [map]="map"></app-select-roi>
      </button>
      <button mat-menu-item matTooltip="{{ 'header.toolpit_profil' | translate }}" (click)="changeProfil()">
        <!-- <mat-icon class="primary"> grid_view</mat-icon> -->
        Autres profils
      </button>
      <button mat-menu-item (click)="openModalInfo()">A propos</button>
    </mat-menu>
  </div>
</div>